{% extends "base.html" %}

{% block content %}
  <h1>
    Dish List:
    <a class="btn btn-primary float-right" href="{% url 'kitchen:dish-create' %}">Create new dish</a>
  </h1>
  {% if dish_list %}
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Dish Type</th>
        </tr>
          {% for dish in dish_list %}
        <tr>
          <td>
              <a href="{% url 'kitchen:dish-detail' pk=dish.id%}">{{ dish.name }}</a>
          </td>
          <td>
              {{ dish.dish_type }}
          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no dishes!</p>
  {% endif %}
{% endblock %}
