{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      Dish Type List
      <a class="btn btn-primary float-right" href="{% url 'kitchen:dish-type-create' %}">Create new dish type</a>
    </h1>

    <form action="" method="get">
    {% csrf_token %}
    {{ search_form|crispy }}
    <input type="submit" value="🔍">
    </form>

    {% if dish_type_list %}
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for dish_type in dish_type_list %}
        <tr>
          <td>
              {{ dish_type.name }}
          </td>
          <td>
            <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">
                Update
            </a>
          </td>
          <td>
            <a style="color: red" href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no types of dishes!</p>
  {% endif %}
{% endblock %}
